@import '../../../assets/styles/brkPoints.scss';

.home {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1.2fr;
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    &__content {
        min-width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        &__article {
            min-width: 350px;
            height: 400px;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            transform: translateY(-5rem);
            justify-content: center;
            h1 {
                padding: 0.2rem;
                background-color: #61abb3cc;
                border-radius: 0.2rem;
                color: white;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            h1:first-child {
                padding-left: 0.5rem;
                h2 {
                    display: inline;
                    
                }
            }

            h1:nth-child(2) {
                text-align: center;
            }

            h1:nth-child(3) {
                text-align: end;
                padding-right: 0.5rem;
            }

            h1:not(h1:first-child) {
                margin-top: 0.9rem;
            }
        }
    }

    &__form {
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        &__sgln {
            min-width: 400px;
            height: 400px;
            transform: translateY(-5rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            border-radius: 0.3rem;
            background-color: #dea0627d;
            color: white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            &__formelement {
                width: 80%;
                margin-top: 2rem;

                &--btn {
                    margin-top: 2.5rem;
                }

                &--error {
                    color: red;
                }
            }
        }
    }
}

.spinner {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #dabdbd81;
}


@include xs-breakpoint {
    .home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }

    .home__content__article {
        transform: none;
        height: 200px;
    }

    .home__form__sgln {
        transform: none;
        height: 300px;
    }
}

@include sm-breakpoint {
    .home {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@include md-breakpoint {
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@include lg-breakpoint {
    .home__content {
        justify-items: flex-end;
    }

    .home__content__article {
        padding-right: 5rem;
    }

    .home__form {
        justify-items: flex-start;
    }

    .home__form__sgln {
        margin-left: 5rem;
    }

}


