<div class="home">
   <div class="home__content">
        <div class="home__content__article">
            <h1>One <h2>(Just One)</h2></h1>
            <h1>Click</h1>
            <h1>Analytics</h1>
        </div>
   </div>
   <div class="home__form">
        <div class="home__form__sgln">
            <h2>Login/Sign Up</h2>
            <div class="home__form__sgln__formelement">
                <app-input name="username"
                    [value]="state.username"
                    (onChange)="onInputChange($event)"
                    placeholder="username">
                </app-input>
            </div>
            <div class="home__form__sgln__formelement">
                <app-input name="userpass"
                    [value]="state.password"
                    (onChange)="onInputChange($event)"
                    placeholder="password">
                </app-input>
            </div>
            <div class="home__form__sgln__formelement--btn">
                <app-button value="Start asap!"
                    (onClick)="authUser()"
                    btnType="primary"></app-button>
            </div>
            <div class="home__form__sgln__formelement--error"
                 *ngIf="userAuthError">
                <p>Authentication error from our side!</p>
            </div>
        </div>
   </div>
</div>

<div class="spinner"
     *ngIf="checkinguser">
    <app-spinner></app-spinner>
</div>
    