<div class="home">
    <div class="navbar">
        <b>Welcome {{ username }}</b>
    </div>
    <div class="content">
        <div class="content__sidebar">
            <a 
            (click)="scrollTo('diffchart')">Rating difference</a>
            <br>
            <a 
            (click)="scrollTo('anchart')">Average charts</a>
            <br>
            <a 
            (click)="scrollTo('hypwindow')">Hypothesis tests</a>
            <br>
            <a
            (click)="scrollTo('reviewwindow')">Auto Review labelled</a>
            <br>
            <a
            (click)="scrollTo('fileupload')">Upload new file</a>
        </div>
        <div class="content__graphs">
            <div class="content__graphs__view">
                <div class="content__graphs__view__fileupload"
                     id="fileupload">
                    <div class="content__graphs__view__fileupload__controls"
                         [ngClass]="isFileUploading ? 'loading' : ''">
                        <div><b>Upload a CSV file</b></div> <br>
                        <input class="form-control"
                            type="file" 
                            (change)="onFileChange($event)"
                            [disabled]="isFileUploading">
                        <app-button name="filebutton"
                                    value="upload"
                                    btnType="primary"
                                    [disabled]="!file"
                                    (onClick)="uploadFile()"></app-button>
                    </div>
                    
                    <div class="content__graphs__view__fileupload__spinner"
                         *ngIf="isFileUploading">
                        <app-spinner></app-spinner>
                    </div>
                    
                </div>
                
                <div class="content__graphs__view__maingraph">
                    <canvas id="diffchart"></canvas>
                    <canvas id="overallrat"></canvas>
                </div>

                <div class="content__graphs__view__averageratinggraphs">
                    <canvas id="testchart"></canvas>
                    <canvas id="anchart"></canvas>
                </div>
                
                <div class="content__graphs__view__hypothesiswindow"
                     id="hypwindow">
                    
                    <div class="content__graphs__view__hypothesiswindow__ptests">
                        <table>
                            <thead>
                                <tr>
                                    <td>Year comparison</td>
                                    <td>p_value</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of pTestData | keyvalue">
                                    <td>{{item.key}}</td>
                                    <td>{{item.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="content__graphs__view__hypothesiswindow__cofinterval"> 
                        <b>Confidence Interval of ratings</b>
                        <br><br>
                        {{confi[0]}} - {{confi[1]}}
                    </div>
                </div>

                <div class="content__graphs__view__reviewlabels"
                     id="reviewwindow">
                    <div class="content__graphs__view__reviewlabels__window">
                        <ng-container *ngFor="let item of reviewData"
                             class="reviewItem">
                            <ng-container
                                 *ngIf="(item['label'] >= 0.5)">
                                  <div class="reviewItem">
                                    <div><b>{{item.name}} -- {{item.postDate}}</b></div>
                                    <div>{{item.reviewText}}</div>
                                  </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="content__graphs__view__reviewlabels__window">
                        <ng-container *ngFor="let item of reviewData"
                             class="reviewItem">
                            <ng-container
                                 *ngIf="(item['label'] < 0.5)">
                                  <div class="reviewItem">
                                    <div><b>{{item.name}} -- {{item.postDate}}</b></div>
                                    <div>{{item.reviewText}}</div>
                                  </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>