<div>
        <app-input name="username"
            [value]="username"
            (onChange)="onInputChange($event)"
            placeholder="username">
        </app-input>
        <br><br>
        <app-input name="userpass"
            [value]="userpass"
            (onChange)="onInputChange($event)"
            placeholder="password">
        </app-input>
        <br><br>
        <app-button value="test"
                    (onClick)="test()"
                    btnType="primary"></app-button>
</div>

